body{
      
    font-family: 'Open Sans',sans-serif;
    background-color: #000000;
    color:#FFFFFF;
   
}
h1{
    text-align:center;
    margin-top:3%;
    font-size: 250%;
background: -webkit-linear-gradient(#eee, #333);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}
#calculator {
    display:block;
    
    margin:auto;
    margin-top:5%;
    width: 28%;
    height: 600px;
    
    color:#000000;
    background-color:#eaedef;
    
    border:#FFFFFF;
    background-size: contain;
    border-radius: 10px;
    
    box-shadow:3px 3px 5px grey;
    
    
    
}
#result{
    
    height: 25%;
    background-color: #FFFFFF;
}
#history{
    text-align: right;
    height:15%;
    font-size: 120%;
    
   
    margin:0px 25px;
    padding:2px;
    
    padding-bottom: 0px;
    padding-top:2px;
    color:#919191;
    
    
}
#output{
    text-align: right;
    font-size: 300%;
    margin:10px 30px;
    height:50px;
    padding:0px 0px;
    
    

}
.operator, .number, .empty{
  width:60px;
  height:60px;
  margin:15px;
  margin-left:23px;
  float:left;
  border-radius: 50%;
  border-width: 0;
  font-weight:bold;
  font-size:25px;
} 
.number , .empty {
    background-color:#eaedef;
}
.number , .operator{
    cursor: pointer;
}
.number:active , .operator:active {
    font-size:15px;
    color:black;
}

.operator:focus , .number:focus , .empty:focus{
    outline:0;
}

button:nth-child(4){
    font-size:30px;
    background-color:#20b2aa;
}
button:nth-child(8){
    font-size:30px;
    background-color:#ffa500;
}
button:nth-child(12){
    font-size:30px;
    background-color:#f08080;
}
button:nth-child(16){
    font-size:30px;
    background-color:#7d93e0;
}
button:nth-child(20){
    font-size:30px;
    background-color:#9477af;
}

    .foot {
display:block;
color:black;
font-weight:bold;
text-align:center;
font-family: cursive;
width:100%;
background-color:#FFFFFF;
position: fixed;
left: 0;
bottom: 0;
width: 100%;
}

    